/*html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden !important;*/ /* scroll engeli */
/*}

.main-fullscreen {
    height: calc(100vh - 70px);
    background-color: white;
}

.custom-navbar {
    background-color: #0A4D8C !important;
}

.custom-btn-red {
    background-color: #B2182B;
    border-color: #B2182B;
    color: white;
}

    .custom-btn-red:hover {
        background-color: #991522;
        border-color: #991522;
        color: white;
    }*/
